@page
@model Catalog.Pages_Films.IndexModel
@{
    ViewData["Title"] = "Films";
}

<h1>‘ËÎÏË</h1>

@if (User.IsInRole("Manager") || User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Create new film</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Film)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Director</td>
                <td>@item.Year</td>
                <td>@item.Rating</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>

                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>